
body{
  color: #4c4c4c;
  background-color: #f5f5f5;
  font-size: 18px;
}
h1 {
  font-family: "BebasNeueRegular", Arial, sans-serif;
  color: #92278f;
  margin-top: 1em;
}
h2{
  font-family: "BebasNeueRegular", Arial, sans-serif;
  color: #92278f;
  margin-top: 1em;
}

a:hover, a:active, a:focus { 
  outline: 0; 
  color: #fff; 
  text-decoration: none; 
}

.container-fluid{

}
.button{
  border-radius: 0px;
  color: #4c4c4c;
  background: none;
  border: 1px solid #4c4c4c;
  font-size: 16px;
  padding: 9px 30px;
  font-weight: normal;
  display: inline-block;
  text-decoration: none;
  font-family: "HelveticaLTStd-Roman", Arial, sans-serif;
  min-width: 120px;
  text-transform: uppercase;
  display: inline-block;
}
.about-me{
  padding: 10%;

}
#main-title {
  font-family: "BebasNeueRegular", Arial, sans-serif;
  font-size: 78px !important;  
  margin-top: 200px;
  margin-bottom: 10px;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  color:#fff;

}
#sub-title{
  font-size: 48px;
  font-family: "Vijaya", Arial, sans-serif;
  line-height: 1em;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}
.profile-pic{
  background-image: url("../img/profile-picture.jpg");
  background-repeat: no-repeat;
  background-size:  500px;
  height:500px;
}
.panel {  
  background-color: #f5f5f5;
  height:500px; 
  padding: 10%;
  box-shadow: 0 0 0  rgba(0,0,0,0);
}
/* blue #9ddbda; */
.panel-picture{
  background-color: #9ddbda;
  padding:3em;
}
.portfolio-panel { 
  background-image: url("../img/arnold-china-purple.jpg");
  height:550px;
  -webkit-background-size: cover!important; 
  -moz-background-size: cover!important; 
  -o-background-size: cover!important; 
  background-size: cover!important;
  color: #fff; 
  font-family: "Vijaya", Arial, sans-serif; 
  font-size: 49px; line-height: 1em;
  }
  .center{
    text-align: center;
  }
.icon{
  height:52px;
  margin-top: 1em;
  margin-right: .5em;
}
#icon{
}
/* fonts panel */
@font-face {
    font-family:'BebasNeueRegular';
    src: url('../font/BebasNeue-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Vijaya';
    src: url('../font/Vijaya.ttf');
    font-weight: normal;
    font-style: normal;
}